<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>slg v{{version}}</title>
    <meta name="description" content="Stimuli list generator">
    <meta name="author" content="gree-gorey">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="w3-container">
    <div class="w3-row greeting">
        <h2>stimuli list generator v{{version}}</h2>
    </div>
    <select id="number_of_lists">
        <option value="1">Один лист</option>
        <option value="2" selected>Два листа</option>
        <!--<option value="3">Три листа</option>-->
    </select>
    <div class="w3-row">
        <button class="w3-btn" onClick="goToParameters();">Создать листы</button>
    </div>
    <div class="w3-row meta">
        <b>author: </b><span>gree-gorey</span><br>
        <b>source code: </b><a href="https://github.com/gree-gorey/slg" target="_blank">slg v{{version}}</a>
    </div>
</div>

<div id="successMessage" class="modal-dialog">
    <div class="modal-content">
        <p id="message" style="text-align: center;">
            Ошибка при чтении файла с исходными данными.<br>
            <b>Сообщение: </b><span id="error"></span>.
        </p>
        <div style="text-align: center;">
            <button id="ok" class="w3-btn" onClick="hideSuccessMessage();">OK</button>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
