<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>losc v{{version}}</title>
    <meta name="description" content="List of stimuli creator">
    <meta name="author" content="gree-gorey">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/render.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/interaction.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/urlVariablesHandler.js') }}"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="w3-container">
    <div class="w3-row lists" id="lists"></div>
    <div class="w3-row custom-container" id="differ">
        <div class="w3-accordion w3-light-grey">
            <button onclick="toggleAccordion('differ_container')" class="w3-btn-block">Выберите отличающие параметры</button>
            <div id="differ_container" class="w3-accordion-content w3-container">
                <span>Выберите параметры, по которым листы НЕ должны отличаться (удерживая зажатой клавишу ctrl):</span><br>
                <div class="verb-features">
                    <select multiple id="same_features" class="verb-features__select"></select>
                </div>
                <span>Укажите (если требуется) параметр, по которому листы должны отличаться:</span><br>
                <div class="verb-features">
                    <select id="differ_feature" class="verb-features__select">
                        <option value="question">-- не требуется --</option>
                    </select><br>
                    <select id="which_is_higher" class="verb-features__select">
                        <option value="question">-- высокие значения у листа --</option>
                        <option value="first">Высокие значения у Листа №1</option>
                        <option value="second">Высокие значения у Листа №2</option>
                    </select>
                </div>
                <br>
                <div class="verb-features">
                    <select id="bonferroni" class="verb-features__select">
                        <option value="off">-- не использовать поправку Бонферрони --</option>
                        <option value="on">Использовать поправку Бонферрони</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container custom-container next-container">
        <button class="w3-btn" onClick="setParameters();">Далее ></button>
    </div>
</div>

<div id="successMessage" class="modal-dialog">
    <div class="modal-content">
        <p id="message" style="text-align: center;">
            Листы успешно сгенерированы.<br>
            Архив <b>results.zip</b> находится в папке с программой.
        </p>
        <div style="text-align: center;">
            <button id="ok" class="w3-btn" onClick="hideSuccessMessage();">OK</button>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
