<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>losc v0.3</title>
    <meta name="description" content="List of stimuli creator">
    <meta name="author" content="gree-gorey">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="w3-container">
    <div class="w3-row greeting">
        <h2>list of stimuli creator v0.3</h2>
    </div>
    <div class="w3-row">
        <a class="w3-btn" href="/parameters">Создать листы</a>
    </div>
    <div class="w3-row meta">
        <b>author: </b><span>gree-gorey</span><br>
        <b>source code: </b><a href="https://github.com/gree-gorey/losc" target="_blank">losc v0.3</a>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
