<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>losc v0.3</title>
    <meta name="description" content="List of stimuli creator">
    <meta name="author" content="gree-gorey">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ url_for('static', filename='css/font.css') }}" rel="stylesheet">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/interaction.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/statistics.js') }}"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="w3-container">
    <div class="w3-row lists">
        <div class="w3-half custom-container stat-container">
            <p>Параметры установлены.</p>
            <p>Для формирования листов с заданными параметрами осталось:<br>
                Лист №1 — {{first_list_len}} слов.<br>
                Лист №2 — {{second_list_len}} слов.
            </p>
            <span>Укажите размер листа:</span><br>
            <input id="length" type="number" class="stat-select" max={{max}}><br>
            <span>Выберите статистический тест:</span><br>
            <select id="statistics" class="stat-select">
                <option value="auto">Выбирать тест автоматически (занимает много времени)</option>
                <option value="student">Student's t-test</option>
                <option value="welch">Welch's t-test</option>
                <option value="mann">Mann-Whitney U test</option>
            </select>
            <span>Преобразование частотности слов:</span><br>
            <select id="frequency" class="stat-select">
                <option value="on">Использовать логарифмическое преобразование</option>
                <option value="off">Не требуется</option>
            </select>
            <button class="w3-btn stat-btn" onClick="createLists();">Создать листы</button><br>
            <a class="w3-btn" href="/">< В начало</a><br>
            <!--<a class="w3-btn" href="/_exit">Quit</a>-->
            <button class="w3-btn stat-btn" onClick="close_app();">Остановить приложение</button>
        </div>
    </div>
</div>

<div class="modal"></div>

<div id="successMessage" class="modal-dialog">
    <div class="modal-content">
        <p id="message" style="text-align: center;">
            Листы успешно сгенерированы.<br>
            Архив <b>results.zip</b> находится в папке с программой.
        </p>
        <div style="text-align: center;">
            <button id="ok" class="w3-btn" onClick="hideSuccessMessage();">OK</button>
        </div>
    </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
